* {
    font-family: 'Indie Flower', cursive;   
    margin: 0;                 
}
body{
    background-color: #ffbb00;
    margin:0;
}
li {
background-color: rgb(173, 201, 212);
color: rgb(0, 0, 0);
list-style: none;
text-align: center;
width: 32%;
display: inline-block;
height: 50px;
border: 3px solid black;
}
a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    margin-top: 13px;
}
li:hover {
    transition: 3s;
    background-color: blue;
}
p {
    background-color: rgba(143, 143, 143, 0.459);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
h3{
    text-align: center;
}
#IZ {
    animation-name : spin;
}

img {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#audio {
    width: 100%;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}