* {
    font-family: 'Indie Flower', cursive;   
    margin: 0;                 
}
body{
    background: rgb(81,63,251);
background: linear-gradient(37deg, rgba(81,63,251,1) 0%, rgba(207,98,71,1) 21%, rgba(130,125,10,1) 41%, rgba(77,177,154,1) 63%, rgba(143,125,155,1) 79%, rgba(228,76,107,1) 98%);
    margin:0;
}
.headli {
background-color: rgb(173, 201, 212);
color: rgb(0, 0, 0);
list-style: none;
text-align: center;
width: 32%;
display: inline-block;
height: 50px;
border: 3px solid black;
position: sticky;
}
a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    margin-top: 13px;
}
.headli:hover {
    transition: 3s;
    background-color: blue;
}

.text{
    background-color: rgba(143, 143, 143, 0.459);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
    
#nde{
    width: 0%;
    
}

#st{
    width: 100%;
}


.titre{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgb(131,58,180);
background: linear-gradient(138deg, rgba(131,58,180,1) 0%, rgba(81,155,162,1) 5%, rgba(238,237,79,1) 10%, rgba(126,68,178,1) 15%, rgba(90,148,154,1) 20%, rgba(187,70,70,1) 25%, rgba(126,68,178,1) 30%, rgba(252,176,69,1) 35%, rgba(69,73,252,1) 40%, rgba(252,69,69,1) 45%, rgba(43,223,206,1) 50%, rgba(184,180,39,1) 55%, rgba(165,39,184,1) 60%, rgba(19,134,125,1) 65%, rgba(73,134,19,1) 70%, rgba(228,131,131,1) 75%, rgba(219,228,131,1) 80%, rgba(190,40,86,1) 85%, rgba(0,95,255,1) 90%, rgba(190,40,86,1) 95%, rgba(232,255,0,1) 100%);
    
}
